.bank {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  &__title {
    width: 597px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #1e3e5a;
  }
  &__text1 {
    color: grey;
    opacity: 0.7;
  }
  &__card {
    padding: 55px 0px 0px 43px;
    width: 519px;
    height: 248px;
    border: 1px solid #a3a7b5;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__text1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #1942df;
  }
  &__text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1e3e5a;
    width: 276px;
  }
  &__img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
  }
  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
  }
}
