* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}
body {
  overflow-x: hidden;
  font-family: "SF Pro Display";
}
li {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1141px;
  margin: 0 auto;
}
